@model IEnumerable<BestBidEnergy.Models.Contract> 

@{
    ViewBag.Title = "Buyer Contracts";
}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Buyers/Index">Home</a></li>
    <li role="presentation" class="active"><a href="/Buyers/Contracts">Contracts</a></li>
</ul>
<div class="container">
  <h2> Buyer Contracts - @ViewData["user"]</h2>
     
    <form action="/Buyers/NewContract">
        <br><br>
        <button type="button" class="btn" onclick="location.href='/Buyers/NewContract'">Create New Contract</button>
    </form>

        <br><br>
    <div class="panel-group" id="buyercontracts">
    <div class="panel panel-default">
      <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Contract History</a> </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="container">           
                <table class="table table-striped">
                <thead>
                <tr>   
                    <th>Contract ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Utility Area</th>
                    <th> Account Type </th>
                    <th>Account Number</th>
                    <th>Price</th> </tr>
                    </thead>
                <tbody>        
                
                
            @foreach (var todo in Model)
            {
                <tr>
                <td>@todo.ContractID</td>
                <td>@todo.StartDate</td>
                <td>@todo.EndDate</td>
                <td>@todo.UtilityArea</td>
                <td> TODO</td>
                <td>TODO</td>
                <td>@todo.Price</td>
                </tr>
            }

                </tbody>
             </table>
            </div>
      </div>
    </div>
    </div>
    </div>